@model SchoolModuleDto

@{
    ViewData["Title"] = "Module details";
}

<h1>Module details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Naam
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Omschrijving
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Description.Replace(Environment.NewLine, "<br />"))
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Aanpassen", "Edit", new { id = @Model.Id }, new { @class = "btn btn-secondary" })
    <a asp-action="Index" class="btn btn-outline-danger">Terug naar overzicht</a>
</div>
