@using System.Web
@model IEnumerable<SchoolModuleDto>

@{
    ViewData["Title"] = "Module overzicht";
}

<h1>Module overzicht</h1>

<table class="table">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Omschrijving</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        var description = System.Text.RegularExpressions.Regex.Replace(item.Description, "<.*?>", string.Empty, System.Text.RegularExpressions.RegexOptions.NonBacktracking); // Remove HTML tags
                        var words = description.Split(' ').Take(5);
                        var shortDescription = string.Join(" ", words);
                    }
                    @shortDescription
                </td>
                <td>
                    @Html.ActionLink("Aanpassen", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-secondary btn-sm" })
                    @Html.ActionLink("Kopiëren", "Copy", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm" })
                    @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
