@model SchoolYearDto

@{
    ViewData["Title"] = "OER details";
}

<h1>OER details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Naam
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Modules
        </dt>
        <dd class="col-sm-10">
            @if(Model.SchoolModules != null){
                <ul class="list-group list-group-horizontal ">
                    @foreach (var module in Model.SchoolModules)
                    {
                        <li class="list-group-item flex-fill text-center">@Html.ActionLink(module.Name, "Details", "SchoolModule", new { id = module.Id })</li>
                    }
                </ul>
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Aanpassen", "Edit", new { id = @Model.Id }, new { @class = "btn btn-secondary" })
    <a asp-action="Index" class="btn btn-outline-danger">Terug naar overzicht</a>
</div>
